/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input, button, textarea, select {
    font: inherit;
}

input {
    appearance: none;
}

/* Styling */

body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.players {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 12px;
}

.player-info {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 6px;
}

.input {
    padding: 0 .5ch;
}

.input:focus {
    outline: none;
    border-radius: 8px;
    background-color: antiquewhite;
}

.player-name {
    grid-column: 1/3;
    text-align: center;
    align-self: center;
    padding: 6px;
    border-radius: 8px;
}

button {
    padding: 2px 8px;
    border-radius: 8px;
    border: none;
    background-color: darkgray;
}

.player1 {
    border: solid darkred 2px;
}

.player2 {
    border: solid darkblue 2px;
}

.messaging {
    text-align: center;
    padding: 12px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    background-color: black;
    margin: 0 35vw;
    min-height: 30vw;
    border: solid black 4px;
}

.space {
    background-color: white;
    border-radius: 0;
    font-size: 6vw;
}


.new-game {
    align-self: center;
    margin: 12px 0;
}